FLASK_APP=app_name
FLASK_ENV=environment
DATABASE_URL=postgres://user:password@host:port/database
SECRET_KEY=secret_key
HASH_SALT=hash_salt
USER_REGISTRATION_URL=https://example.com/register
CORS_ORIGIN=["https://example.com", "https://www.example.com"]
JWT_COOKIE_SECURE=True
JWT_COOKIE_DOMAIN=example.com

UPLOAD_FOLDER=/uploads

RABBITMQ_PREFIX=environment
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password

RABBITMQ_HOST=host
RABBITMQ_PORT=port
